{% extends 'base.html' %}

{% block head %}

<title>Search Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<br></br>
<div class="content">
    <img src="https://play-lh.googleusercontent.com/q8hxnbpJCYfHipSOG_5tZe5jK_89T6QIsqrEklvGpMFKH8b98pDHJf2tPcn2bxEN96ON=s96-rw"></img>
    <h1>Flipkart Review Scraper</h1>

    <div class="form">
        <form action="/review" method="POST"><div>
            <input type="text" name="content" id="content">
        <br></br></div>
          <div>  <button type="submit" value="Search">Load CSV data</button></div>
        </form>
    </div>
</div>
{% endblock %}